/.Rhistory
/.Rproj.user/
/TriMatch.Rproj
/studentsHS.rda
/pscore/
/pscore.tar.gz
/DataPrep.r
/.dropbox
/Icon
.Rproj.user

/Nested Loops.R
/inst/doc/Sweave.sty
/inst/doc/TriMatch-balancegrid.pdf
/inst/doc/TriMatch-boxdiffplots.pdf
/inst/doc/TriMatch-loessplot.pdf
/inst/doc/TriMatch-multibalance.pdf
/inst/doc/TriMatch-nmesbalanceplots.pdf
/inst/doc/TriMatch-nmesboxdiffplots.pdf
/inst/doc/TriMatch-nmestriangleplots.pdf
/inst/doc/TriMatch-packyearsAndTotalExp.pdf
/inst/doc/TriMatch-triangleplot.pdf
/inst/doc/TriMatch.aux
/inst/doc/TriMatch.bbl
/inst/doc/TriMatch.blg
/inst/doc/TriMatch.doc
/inst/doc/TriMatch.docx
/inst/doc/TriMatch.log
/inst/doc/TriMatch.out
/inst/doc/TriMatch.tex
/inst/doc/TriMatch.tpbuild
/useR 2013/Abstract/Bryer.TriMatch.aux
/useR 2013/Abstract/Bryer.TriMatch.bbl
/useR 2013/Abstract/Bryer.TriMatch.blg
/useR 2013/Abstract/Bryer.TriMatch.log
/useR 2013/Abstract/Bryer.TriMatch.out
/useR 2013/Abstract/Bryer.TriMatch.synctex.gz
/useR 2013/Slides/nmesresults.rda
/useR 2013/Slides/Slides-concordance.tex
/useR 2013/Slides/Slides.aux
/useR 2013/Slides/Slides.log
/useR 2013/Slides/Slides.nav
/useR 2013/Slides/Slides.out
/useR 2013/Slides/Slides.snm
/useR 2013/Slides/Slides.tex
/useR 2013/Slides/Slides.toc
/useR 2013/Slides/Slides.vrb