S3method(as.data.frame,list)
S3method(merge,triangle.matches)
S3method(merge,triangle.psa)
S3method(summary,unmatched)
export(as.data.frame.list)
export(covariateBalance)
export(merge.triangle.matches)
export(merge.triangle.psa)
export(plot.balance)
export(plot.boxdiff)
export(plot.distances)
export(plot.loess3)
export(plot.multibalance)
export(plot.parallel)
export(plot.triangle.matches)
export(plot.triangle.psa)
export(print.triangle.plot)
export(summary.unmatched)
export(trimatch)
export(trips)
export(unmatched)
