S3method(as.data.frame,list)
S3method(merge,triangle.matches)
S3method(merge,triangle.psa)
S3method(print,trimatch.summary)
S3method(summary,triangle.matches)
S3method(summary,unmatched)
export(OneToN)
export(as.data.frame.list)
export(balance.plot)
export(boxdiff.plot)
export(covariateBalance)
export(distances.plot)
export(loess3.plot)
export(maximumTreat)
export(merge.triangle.matches)
export(merge.triangle.psa)
export(multibalance.plot)
export(parallel.plot)
export(plot.triangle.matches)
export(plot.triangle.psa)
export(print.triangle.plot)
export(summary.unmatched)
export(trimatch)
export(trips)
export(unmatched)
